body {
	font-family: 'Roboto', sans-serif;
}

#quiz {
	margin-left: 50px
	background: #d2def2;
	padding: 10px  20px 10px 20px;
	width: 400px;
	border-radius: 20px;
	float: left;
}

#after_submit{
	visibility: hidden;
}