/*μορφοποίηση του μενου στην κορυφή της σελίδας */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 10px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* φτιαχνει την εμφανιση της φορμας*/

input[type=text] {
    width: 40%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

/*καθορισμός θέσης της φόρμας*/

  form
  {
    position: relative;
    left: 80px;
    top: 50px;
    z-index: 0;
  }


/*καθορισμός θέσης του βίντεο*/

  iframe
  {
    position: absolute;
    left: 680px;
    top: 150px;
    z-index: 0;
  }


/*μορφοποίηση της εικονας με το κειμενο*/

.imagetxt {
    float: left;
    position: absolute;
    left: 50px;
    top: 450px;
    z-index: 0;
}

/*μορφοποιηση των κουμπιών*/

.button1 {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    left: 550px;
    top: 850px;
}


.button2 {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    left: 680px;
    top: 850px;
}

/*μορφοποίηση του κειμένου πάνω απο τα κουμπία*/
p.buttons {
  position: absolute;
  left: 0px;
  top: 750px;
}
